<div class="media">
	<div class="media-object">
		<trough data-fox-trough-code="media-image"><img src="http://placehold.it/150x150"></trough>
	</div>
	<div class="media-body">
		<trough data-fox-trough-code="media-body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, maiores, perspiciatis perferendis iure consequuntur nostrum a quo adipisci animi voluptatum ipsa ducimus hic cumque non dignissimos accusantium quos nihil suscipit.</p>
		</trough>
	</div>
</div>
