// =======================================
// Extendable classes (.foo)
// and placeholder selectors (%foo)
// =======================================

%fixed-bottom,
.fixed-bottom {
	position: absolute;
	bottom: 0;
}

%fixed-top,
.fixed-top {
	position: absolute;
	top: 0;
}

%full-width,
.full-width {
	width: 100%;
}

%btn-rounded,
.btn-rounded {
	@include border-radius($btn-rounded);
}

%text-align-left {
	text-align: left;
}

%text-align-right {
	text-align: right;
}

%media-img {
	display: block;
	margin: 0 auto;
}

// =======================================
// Silent, extendable grid objects
// i.e. @extend %unstyled-list;
// =======================================
%omega {
	@include omega;
}

%mobile-grid {
	@include clearfix;
	display: block;
	width: 100%;
}

%container,
.container {
  @include clearfix;
}

%col-baselines,
.col-baselines {
	padding-top: $base-unit;
	padding-bottom: $base-unit;
}

%col-gutters,
.col-gutters {
	padding-left: $base-unit;
	padding-right: $base-unit;
}

%col-box,
.col-box {
	padding: $base-unit;
}

// =======================================
// Silent, extendable box model objects
// i.e. @extend %unstyled-list;
// =======================================
%no-margin,
.no-margin {
	margin: 0;
}

%vertical-margin,
.vertical-margin {
	margin-top: $base-unit;
	margin-bottom: $base-unit;
}

%horizontal,
.horizontal-margin {
	margin-right: $base-unit;
	margin-left: $base-unit;
}

%margin-bottom,
.margin-bottom {
  margin-bottom: $base-unit;
}

%margin-top,
.margin-top {
  margin-top: $base-unit;
}

%margin-right,
.margin-right {
	margin-right: $base-unit;
}

%margin-left,
.margin-left {
	margin-left: $base-unit;
}

%pad-bottom,
.pad-bottom {
  padding-bottom: $base-unit;
}

%pad-top,
.pad-top {
  padding-top: $base-unit;
}

%pad-left,
.pad-left {
  padding-left: $base-unit;
}

%pad-right,
.pad-right {
  padding-right: $base-unit;
}

// =======================================
// Silent, extendable list objects
// i.e. @extend %unstyled-list;
// =======================================
%unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		// padding-bottom: 0.5em;
	}
}

%inline-list {
	display: block;
	padding: 0;
	li {
		float: left;
		display: inline-block;
		height: inherit;
		padding-right: $base-unit;
	}
}

%media-list {
	margin: 0;
	padding: 0;
	li {
		font-size: 0.9em;
	}
}
